/********* margin-bottom *********/
.mBottom5 {
  margin-bottom: 5px !important;
}

.mBottom10 {
  margin-bottom: 10px !important;
}

.mBottom15 {
  margin-bottom: 15px !important;
}

.mBottom20 {
  margin-bottom: 20px !important;
}

/********* margin-top *********/
.mTop5 {
  margin-top: 5px;
}

.mTop10 {
  margin-top: 10px;
}

.mTop15 {
  margin-top: 15px;
}

.mTop20 {
  margin-top: 20px;
}

/********* margin-left *********/
.mLeft5 {
  margin-left: 5px;
}

.mLeft10 {
  margin-left: 10px;
}

.mLeft15 {
  margin-left: 15px;
}

.mLeft20 {
  margin-left: 20px;
}

/********* margin-right *********/
.mRight5 {
  margin-right: 5px;
}

.mRight10 {
  margin-right: 10px;
}

.mRight15 {
  margin-right: 15px;
}

.mRight20 {
  margin-right: 20px;
}

/********* padding-bottom *********/
.pBottom5 {
  padding-bottom: 5px;
}

.pBottom10 {
  padding-bottom: 10px;
}

.pBottom15 {
  padding-bottom: 15px;
}

.pBottom20 {
  padding-bottom: 20px;
}

/********* padding-top *********/
.pTop5 {
  padding-top: 5px;
}

.pTop10 {
  padding-top: 10px;
}

.pTop15 {
  padding-top: 15px;
}

.pTop20 {
  padding-top: 20px;
}

/********* center *********/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/********* general *********/
.avatar {
  margin: 10px;
}