// COLORS //
$white: #ffffff;
$black: #000000;
$lightGray: #d4d3d3;
$darkGray: #777777;
$skyBlue: #d7eff1;


//COLOR ELEMENTS //
$fontColor: $black;
$bodyColor: $lightGray;
$singUpBackground: $skyBlue;
$singUpBorder: $darkGray;
